name: Deploy Static Site with Docker (Self-Hosted)

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          sudo docker build -t static-nginx-app .

      - name: Stop existing container (if running)
        run: |
          sudo docker stop static-nginx-container || true
          sudo docker rm static-nginx-container || true

      - name: Run new container
        run: |
          sudo docker run -d \
            --name static-nginx-container \
            -p 80:80 \
            static-nginx-app
